<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置别名 类型别名是Java 类型的简称。它仅仅只是关联到XML 配置，简写冗长的JAVA 类名。 -->
    <typeAliases>
        <typeAlias type="com.zone.test.model.User" alias="User"/>
    </typeAliases>
    <!-- 使用这个配置,"Blog"就能在任何地方代替"com.accp.mybatis.model.Blog"被使用。 -->

    <!--mappers是告诉MyBatis 去哪寻找映射SQL 的语句。可以使用类路径中的资源引用，或者使用字符，输入确切的URL 引用。 -->
    <!--mappers>
        <mapper resource="com/zone/test/sqlmapper/UserMapper.xml" />
    </mappers>-->
</configuration>  
